extends layout

block content
  h1 Chargepoint: #{chargepointRef}
  ul
    li
      a(href=geToolsViewHelper.chargePointDetailURL(chargepointRef)) GE-Tools Details

  h2 ChargeEvents
  table.app-chargeevents
    thead
      tr
        th source
        th ID
        th Type
        th
          a(href="?sort=timestamp") Timestamp
        th
          a(href="?sort=updatedAt") UpdatedAt
        th Result
        th plug
        th comment
        th nickname
    tbody
      for event in events
        tr(class=event.deleted === true ? 'deleted' : '')
          td= event.source
          td= event.id
          td= event.__t
          td= moment(event.timestamp).format('lll')
          td= moment(event.updatedAt).format('lll')
          td= event.reason ? "Reason Code: "+event.reason : event.isFault ? "FAULT" : "OK"
          td= event.plug ? event.plug : "n.a."
          td= event.comment
          td= event.nickname
  p
    | [
    a(href="/events/") ChargeEvents
    | ]