extends layout

block content
  h1 ChargeEvents (#{count})
  if newerThan
    p Active filter: showing all records newer than: #{moment(newerThan).format('ll')}.
  if limit
    p Active display limit: max #{limit} record(s).
  table.app-chargeevents
    thead
      tr
        th source
        th Type
        th
          a(href="?sort=timestamp") Timestamp
        th
          a(href="?sort=updatedAt") UpdatedAt
        th
          a(href="?sort=upstreamUpdatedAt") Upstream UpdatedAt
        th Result
        th plug
        th comment
        th nickname
        th chargepoint
    tbody
      for event in events
        tr(class=event.deleted === true ? 'deleted' : '')
          td= event.source
          td= event.__t
          td= moment(event.timestamp).format('lll')
          td= moment(event.updatedAt).format('lll')
          td= moment(event.upstreamUpdatedAt).format('lll')
          td= event.reason ? "Reason Code: "+event.reason : event.isFault ? "FAULT" : "OK"
          td= event.plug ? event.plug : "n.a."
          td= event.comment
          td= event.nickname
          td
            a(href=event.chargepoint) #{event.chargepoint}
